{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
{% if watched_repos %}
<h3>Monitored Repos</h3>
These repos are being monitored by Repominder.
<br/>
You'll receive an email to {{ user.email }} on Sundays if these have unreleased changes:
    <ul>
    {% for repo in watched_repos %}
        <li><a href="{% url 'repo' id=repo.id %}">{{ repo.full_name }}</a></li> 
    {% endfor %}
    </ul>
{% endif %}

{% if configured_repos %}
<h3>Configured Repos</h3>
These repos have been configured with Repominder, but you will not receive emails about them:
    <ul>
    {% for repo in configured_repos %}
        <li><a href="{% url 'repo' id=repo.id %}">{{ repo.full_name }}</a></li> 
    {% endfor %}
    </ul>
{% endif %}

{% if unconfigured_repos %}
<h3>Unconfigured Repos</h3>
Repominder has access to these repos, but they have not yet been configured with a release type:
    <ul>
    {% for repo in unconfigured_repos %}
        <li><a href="{% url 'repo' id=repo.id %}">{{ repo.full_name }}</a></li> 
    {% endfor %}
    </ul>
{% endif %}

{% if no_repos %}
<p>
It doesn't look like Repominder has access to any of your repos.
</p>
<p>
Make sure you've <a href="https://github.com/apps/{{ GH_APP_NAME }}/installations/new">installed the app on GitHub</a>.
If you already did, get help with one of the contact methods below.
</p>
{% endif %}
{% endblock content %}

{% block footer %}
{% if not no_repos %}
<div class="text-right text-muted" style="padding-top: 2em;">
<h4>Don't see the repo you're looking for?</h4>
Check that you <a href="https://github.com/apps/{{ GH_APP_NAME }}/installations/new">installed the app on GitHub</a> and have write access to the repo.
<br/>
If you've already checked that, try <a href=".?refresh=true">clicking here to refresh Repominder's cache</a>.
</div>
{% endif %}
{{ block.super }}
{% endblock footer %}
