{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
{% if watched_repos %}
<h3>Monitored Repos</h3>
These repos are being monitored by Repominder.
<br/>
You'll receive an email to {{ user.email }} on Sundays if these have unreleased changes:
    <ul>
    {% for repo in watched_repos %}
        <li><a href="{% url 'repo' id=repo.id %}">{{ repo.full_name }}</a></li> 
    {% endfor %}
    </ul>
{% endif %}

{% if configured_repos %}
<h3>Configured Repos</h3>
These repos have been configured with Repominder, but you will not receive emails about them:
    <ul>
    {% for repo in configured_repos %}
        <li><a href="{% url 'repo' id=repo.id %}">{{ repo.full_name }}</a></li> 
    {% endfor %}
    </ul>
{% endif %}

{% if unconfigured_repos %}
<h3>Unconfigured Repos</h3>
Repominder has access to these repos, but they have not yet been configured with a release type:
    <ul>
    {% for repo in unconfigured_repos %}
        <li><a href="{% url 'repo' id=repo.id %}">{{ repo.full_name }}</a></li> 
    {% endfor %}
    </ul>
{% endif %}

{% endblock content %}
